@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
}
nav {
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#nav-1 {
  background:#831e62;
}

.link-1 {
  transition: 0.3s ease;
  background: #831e62;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid#831e62;
  border-bottom: 4px solid#831e62;
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}